.place_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.rating_info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.rating_image {
    margin-right: 5px;
}

.rating_value {
    font-weight: bold;
}

.title {
    font-weight: bold;
    margin-right: 10px;
}

.location {
    color: #666;
    margin-right: 10px;
}

.visits {
    color: #666;
}